In [1]:
import numpy as np
import pandas as pd

In [9]:
labels = ['a', 'b', 'c']
my_data = [10,20,30]
arr = np.array(my_data)
dict = {'a' : 10, 'b' : 20, 'c' : 30}

In [17]:
pd.Series(data= my_data)

0    10
1    20
2    30
dtype: int64

In [15]:
pd.Series(data = my_data, index = labels)

a    10
b    20
c    30
dtype: int64

In [19]:
pd.Series(my_data,labels)

a    10
b    20
c    30
dtype: int64

In [61]:
pd.Series(arr, labels)

a    10
b    20
c    30
dtype: int32

In [27]:
pd.Series(dict)

a    10
b    20
c    30
dtype: int64

In [29]:
pd.Series(data=[sum,print,len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [31]:
ser1 = pd.Series([1,2,3,4],['USA','Japan','USSR', 'Germany'])

In [33]:
ser1

USA        1
Japan      2
USSR       3
Germany    4
dtype: int64

In [35]:
ser2 = pd.Series([1,2,6,3],['USA','Japan','France','USSR'])

In [37]:
ser2

USA       1
Japan     2
France    6
USSR      3
dtype: int64

In [41]:
ser1['USA']  # Indexing a particular data points in pandas series

1

In [43]:
ser3 = pd.Series(data = labels)

In [45]:
ser3

0    a
1    b
2    c
dtype: object

In [47]:
ser3[2]

'c'

In [51]:
# in pandas and numpy anytime we perform any operations like multiply, add, sub, div it converts the int values to float, as it should not lose correct values in case of any uncertainity

ser1 + ser2

France     NaN
Germany    NaN
Japan      4.0
USA        2.0
USSR       6.0
dtype: float64

In [53]:
ser1 - ser2

France     NaN
Germany    NaN
Japan      0.0
USA        0.0
USSR       0.0
dtype: float64

In [55]:
ser1 * ser2

France     NaN
Germany    NaN
Japan      4.0
USA        1.0
USSR       9.0
dtype: float64

In [57]:
ser2 / ser1

France     NaN
Germany    NaN
Japan      1.0
USA        1.0
USSR       1.0
dtype: float64